body{
    font-family: 'Inter', sans-serif;
    background-color: #F3F5FC;
    padding: 40px;
}

header img{
    height: 48px;
    margin-left: 43px;
}

.texto-crudo{
    padding: 80px;
    padding-bottom: 32px;
    box-sizing: border-box;
    /*width: calc(100% - 400px);*/
    width: 70.55555555%;
    height: calc(100vh - 128px);
}

.texto-crudo form{
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

textarea{
    width: 100%;
    height: 100%;
    display:block;
    color: #0A3871;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    border: none;
    resize: none;
    background-color: #F3F5FC;
}

textarea::placeholder{
    color: #0A3871;
}

label{
    margin: 16px 0;
    font-size: 12px;
    color: #495057;
    display: flex;
    align-items: center;
}

.exclamacion{
    margin-right: 8px;
    color: #65747D;
    height: 16px;
    width: 16px;
}

fieldset{
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: flex-end;
}

.boton1{
    width: 328px;
    background-color: #0A3871;
    color: white;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 20px;
    font-size: 16px;
    transition: 0.5s all;
    cursor: pointer;
}

.boton1:hover{
    background-color: #072B61;
}

.boton2{
    margin-left: 24px;
    background-color: white;
    color: #0A3871;
    transition: 0.5s all;
    cursor: pointer;
}

.boton2:hover{
    background-color: #EFF1FA;
}

.boton3{
    margin: 0;
    width: 336px;
}

.texto-procesado{
    position: absolute;
    top: 0;
    right: 0;
    margin: 40px;
    font-size: 16px;
    /*width: 400px;*/
    width: 27.77777777%;
    /*height: 944px;*/
    height: calc(100vh - 80px);
    padding:  32px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    box-sizing: border-box;
}

.sin-mensaje{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sin-mensaje strong{
    font-weight: bold;
    font-size: 24px;
    color: #343A40;
}

.sin-mensaje p{
    margin: 16px 0;
    font-size: 16px;
    text-align: center;
    color: #495057;
}

.con-mensaje{
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 24px;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.mensaje-resultado{
    width: 100%;
    height: calc(100% - 99px);
    overflow: auto;
    hyphens: auto;
}

.mensaje-resultado p{
    color: #495057;
    font-size: 24px;
}

footer {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0A3871; /* Cambia el color según tu diseño */
    padding: 10px;
  }

@media screen and (max-width:768px) {
    header{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 112px;
    }

    header img{
        margin: 0;
    }

    .texto-crudo {
        padding: 0;
        width: 100%;
        /*height: calc(100vh - 477px);*/
        height: 697px;
    }

    .texto-crudo form {
        margin: 0;
        margin-top: 88px;
    }

    .boton3 {
        width: 100%;
    }

    .texto-procesado {
        position: relative;
        width: 100%;
        margin: 0;
        margin-top: 64px;
        height: auto;
    }

    .sin-mensaje {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        height: 69px;
    }

    .muneco {
        display: none;
    }

    .sin-mensaje p{
        margin-top: 0;
    }

    .mensaje-resultado {
        margin-bottom: 32px;
        max-height: 100vh;
    }
}

@media screen and (max-width:376px) {
    body {
        padding: 0;
    }

    header {
        height: 96px;
    }

    .logo {
        margin-left: 16px;
    }

    main {
        padding: 40px 16px;
    }

    .texto-crudo {
        height: 491px;
    }

    .texto-crudo form {
        margin-top: 16px;
    }

    fieldset {
        display: flex;
        flex-wrap: nowrap;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .boton2 {
        margin: 0;
        margin-top: 24px;
    }

    .boton3 {
        margin: 0;
    }

    .texto-procesado {
        min-height: 186px;
    }


}